/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

/** common styles and utilities */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    background-color: #F3F1FF;
}
main{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-container{
    /* border: 1px solid black; */
    margin-top: 25px;
    width: 870px;
    height: 630px;
    background-color: white;
    padding: 0 33px 30px;
    border-radius: 5px;
}
.section2-course{
    /* border: 1px solid salmon; */
    margin: 30px 0;
    width: 870px;
    height: 400px;
    background-color: white;
    padding: 0 35px 10px;
    border-radius: 5px;
}

/*--------------*------------------*---------------*/
/*--------------* Top Player style *---------------*/
/*--------------*--------↡↡--------*---------------*/

.top-player-container{
    margin-bottom: 20px;
}
h2.section-title{
    color: #562EFF;
    margin: 30px 0;
}
.all-players{
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: repeat(3,3fr);
    row-gap: 16px;
}
.per-player{
    display: flex;
    align-items: center;
    font-family: 'poppins';
    /* border: 1px solid blue; */
}
.per-player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}

/*--------------*----------------*---------------*/
/*--------------* Top Blog style *---------------*/
/*--------------*----------------*---------------*/
                      /* ↡↡ */

                      
.all-blogs{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}
.per-article{
    /* border: 1px solid violet; */
    display: flex;
}

.blog-thumbnail img{
    /* border: 1px solid black; */
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
h3.blog-title{
    margin-top: 0;
}
.per-article a{
    text-decoration: none;
    color: #562EFF;
    font-family: 'poppins';
    font-size: 16px;
}  
.article-title{
    margin-top: 0;
    margin-bottom: 10px;
}                

/*--------------*-----------------*---------------*/
/*--------------*  Latest course  *---------------*/
/*--------------*-----------------*---------------*/
/*                 ------↡↡------                 */


.all-courses{
    /* border: 1px solid blueviolet; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.course-card{
    /* border: 1px solid salmon; */
    width: 252px;
    height: 269px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

}
.course-details{
    width: 224px;

}
.course-card img{
    /* border: 1px solid blueviolet; */
    width: 224px;
    height: 104px;
}
.course-details p{
    color: red;
    text-decoration: none;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.fa-star{
    font-size: 12px;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* when there is 3 items in the div↴ */
    /* display: grid;
    grid-template-columns: 84px 25px 95px;
    column-gap: 10px;
    align-items: center; */
}
.course-info span{
    color: #A2A2A2;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 5px;
    color: red;
}

/*--------------*-----------------*---------------*/
/*--------------*   Media Query   *---------------*/
/*--------------*-----------------*---------------*/
/*                 ------↡↡------                 */

/** For Mobile Devices **/
@media only screen and (max-width:480px){                         /* 1-card 100%(each) */
    
}

/** For Larger Mobile or mini Tablet Devices **/
@media only screen and (min-width:481px) and (max-width:766px){   /* 2-cards 50%(each) */
    
}

/** For Tablet, Laptop & Desktop Devices **/
@media only screen and (min-width:767px) and (max-width:1280px){  /* 4-cards 25%*(each) */
    
}

/** For Ultra Wide Screen Devices **/
@media only screen and (min-width:1280px){                        /* 4-cards and sidebars 20%(each) */
    
}